/node_modules
.env
node_modules
npm-debug.log
test-results/
types/graphql.d.ts
types/unsplash.d.ts

# Yarn
yarn.lock

# System Files
.DS_Store
Thumbs.db



# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json